<div class="row align-items-center justify-content-center" style="height:100%">
    <div class="col-xs-12 col-sm-6 col-lg-4 ">
      <form [formGroup]="form">
        <h4>
          Forgot your password?<br>
          <small class="text-muted">we will send you recovery email</small>
        </h4>
        <hr>
        <div class="form-group">
          <label for="email">Email address</label>
          <input 
            [ngClass]="{'is-invalid' : !form.get('email').valid && form.get('email').touched}"
            formControlName="email" 
            type="email" 
            class="form-control" 
            placeholder="Enter email"
            id="email" 
          >
          <div class="invalid-feedback" [hidden]="form.get('email').valid && !form.get('email').touched">
            Please provide a valid email.
          </div> 
        </div>
        <div class="text-center">
          <button type="button" (click)="submit()" class="btn btn-primary btn-block">Recover password</button>
          <hr>
          <p class="small">
              <a routerLink="/login">back to login</a>
          </p>
        </div>
      </form>
    </div>
  </div>
  